.wp-block-create-block-sweem-block.sweem-team-block.sweem-current-theme1 {
	.sweem-social-links {
		visibility: visible;
	}

	.sweem-social-links a {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	.social-placeholder {
		display: block;
		width: 140px;
		font-size: 11px;
		background: #fff;
		padding: 6px 8px;
		border-radius: 6px;
		border: 1px solid #ddd;
		text-align: center;
	}
}

.wp-block-create-block-sweem-block.sweem-team-block.sweem-current-theme2 {
	.sweem-social-links {
		visibility: visible;
	}

	.sweem-social-links a {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}

.wp-block-create-block-sweem-block.sweem-team-block.sweem-current-theme3 {
	.sweem-social-links {
		opacity: 1;
		visibility: visible;
	}

	.sweem-social-links a {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}

.wp-block-create-block-sweem-block.sweem-team-block.sweem-current-theme4 {
	.sweem-social-links {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	.sweem-social-links a {
		opacity: 1;
		transform: scale(1);
	}
}

