@use "./theme-colors";
@use "./theme-typography";

.wp-block-create-block-sweem-block.sweem-team-block.sweem-current-theme1 {
	.sweem-inner-box {
		position: relative;
		z-index: 1;
		transition: all 600ms ease;
		border-radius: 20px;
		background: var(--theme-color-white, #fff);
	}

	.sweem-image {
		border-radius: 20px 20px 0 0;
		overflow: hidden;
		transition: all 300ms ease;
		position: relative;
	}

	.sweem-image img {
		transition: all 300ms ease;
		width: 100%;
		display: block;
	}

	.sweem-image::after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(-135deg, rgb(23 23 23 / 0%) 0%, rgb(23 23 23 / 0%) 65%, var(--theme-color3, #222) 100%);
		content: "";
		z-index: 0;
		opacity: 0;
		transition: all 300ms ease;
		visibility: hidden;
	}

	.sweem-content-box {
		padding: 20px 30px;
		box-shadow: 0 5px 15px 0 rgb(0 0 0 / 5%);
		color: var(--theme-color-white, #fff);
		border-radius: 0 0 20px 20px;
		transition: all 600ms ease;
	}

	.sweem-content-box .sweem-team-subtitle {
		color: var(--theme-color4, #777);
		font-size: 14px;
		transition: all 300ms ease;
		margin: 0;
	}

	.sweem-content-box .sweem-team-title {
		margin: 0;
	}

	.sweem-content-box .sweem-team-title a:hover {
		color: #fff;
	}

	.sweem-socials {
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		border-radius: 50%;
		background-color: var(--theme-color4, #777);
		color: #fff;
		position: absolute;
		right: 20px;
		bottom: 83px;
		cursor: pointer;
		font-size: 14px;
		transition: all 300ms ease;
	}

	.sweem-socials .fa-plus {
		transition: all 300ms ease;
	}

	.sweem-social-links {
		width: 40px;
		position: absolute;
		bottom: 45px;
		right: 0;
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 5px;
		visibility: hidden;
	}

	.sweem-social-links a {
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		background-color: var(--theme-color-white, #fff);
		color: var(--theme-color4, #777);
		border-radius: 50%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		visibility: hidden;
		transform: translateY(10px);
		margin-bottom: 0;
		transition: all 700ms ease;
		text-decoration: none;
	}

	.sweem-social-links a:nth-child(2) { transition: all 500ms ease; }
	.sweem-social-links a:nth-child(3) { transition: all 400ms ease; }
	.sweem-social-links a:nth-child(4) { transition: all 300ms ease; }

	.sweem-social-links a i {
		transition: all 900ms ease;
		line-height: 1;
	}

	.sweem-social-links a:hover i {
		transform: rotateY(360deg);
	}

	.sweem-inner-box:hover,
	.sweem-socials.is-open + .sweem-content-box {
		background-color: var(--theme-color1, #b8967e);
	}

	.sweem-inner-box:hover .sweem-image {
		border-radius: 20px;
		overflow: hidden;
	}

	.sweem-inner-box:hover .sweem-image img {
		filter: grayscale(100%);
	}

	.sweem-inner-box:hover .sweem-image::after {
		opacity: 1;
		visibility: visible;
	}

	.sweem-inner-box:hover .sweem-content-box .sweem-team-title,
	.sweem-inner-box:hover .sweem-content-box .sweem-team-title a,
	.sweem-inner-box:hover .sweem-content-box .sweem-team-subtitle {
		color: #fff;
	}

	.sweem-inner-box:hover .sweem-socials,
	.sweem-socials.is-open {
		background-color: var(--theme-color3, #222);
		color: var(--theme-color1, #b8967e);
	}

	.sweem-inner-box:hover .sweem-socials .fa-plus,
	.sweem-socials.is-open .fa-plus {
		display: inline-block;
		transform: rotate(135deg);
	}

	.sweem-inner-box:hover .sweem-social-links,
	.sweem-socials.is-open .sweem-social-links {
		visibility: visible;
	}

	.sweem-inner-box:hover .sweem-social-links a,
	.sweem-socials.is-open .sweem-social-links a {
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
	}
}

.wp-block-create-block-sweem-block.sweem-team-block.sweem-current-theme2 {
	.sweem-inner-box {
		text-align: center;
	}

	.sweem-image-box {
		position: relative;
		z-index: 1;
	}

	.sweem-image {
		overflow: hidden;
		border-radius: 6px;
	}

	.sweem-image img {
		width: 100%;
		transition: all 500ms ease;
	}

	.sweem-socials {
		width: 68px;
		height: 68px;
		line-height: 68px;
		text-align: center;
		background-color: var(--theme-color4, #1a4137);
		color: #fff;
		position: absolute;
		left: 0;
		bottom: 0;
		cursor: pointer;
		font-size: 24px;
		transition: all 300ms ease;
	}

	.sweem-social-links {
		position: absolute;
		bottom: 0;
		left: 68px;
		display: flex;
		align-items: center;
		visibility: hidden;
	}

	.sweem-social-links a {
		width: 45px;
		height: 45px;
		line-height: 45px;
		text-align: center;
		background-color: var(--theme-color-white, #fff);
		color: #888;
		font-size: 14px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		opacity: 0;
		visibility: hidden;
		transform: translateY(5px);
		margin: 0;
		transition: all 300ms ease;
	}

	.sweem-social-links a:nth-child(2) { transition: all 400ms ease; }
	.sweem-social-links a:nth-child(3) { transition: all 500ms ease; }
	.sweem-social-links a:nth-child(4) { transition: all 700ms ease; }

	.sweem-social-links a:hover {
		color: var(--headings-color, #0b162d);
	}

	.sweem-social-links a i {
		transition: all 900ms ease;
		line-height: 1;
	}

	.sweem-social-links a:hover i {
		transform: rotateY(360deg);
	}

	.sweem-content-box {
		margin-top: 20px;
	}

	.sweem-content-box .sweem-team-title {
		color: #fff;
		font-size: 22px;
		line-height: 30px;
		margin: 0;
		text-transform: capitalize;
	}

	.sweem-content-box .sweem-team-title a:hover {
		letter-spacing: 1px;
		color: #fff;
	}

	.sweem-content-box .sweem-team-subtitle {
		color: var(--theme-color3, #c6d936);
		line-height: 30px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 12px;
	}

	.sweem-inner-box:hover .sweem-social-links,
	.sweem-socials.is-open .sweem-social-links {
		visibility: visible;
	}

	.sweem-inner-box:hover .sweem-social-links a,
	.sweem-socials.is-open .sweem-social-links a {
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
	}

	.sweem-inner-box:hover .sweem-image-box .sweem-image img {
		transform: scale(1.1);
	}
}

.wp-block-create-block-sweem-block.sweem-team-block.sweem-current-theme3 {
	.sweem-inner-box {
		text-align: center;
	}

	.sweem-image-box {
		position: relative;
		z-index: 1;
	}

	.sweem-image {
		overflow: hidden;
		border-radius: 12px;
	}

	.sweem-image img {
		width: 100%;
		transition: all 500ms ease;
	}

	.sweem-social-links {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		background-color: var(--theme-color1, #102930);
		border-radius: 12px;
		padding: 0 15px;
		opacity: 0;
		visibility: hidden;
		transition: all 300ms ease;
		display: flex;
		align-items: center;
	}

	.sweem-social-links a {
		width: 35px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		color: #fff;
		font-size: 14px;
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		visibility: hidden;
		transform: translateX(-5px);
		transition: all 300ms ease;
	}

	.sweem-social-links a:nth-child(2) { transition: all 400ms ease; }
	.sweem-social-links a:nth-child(3) { transition: all 500ms ease; }
	.sweem-social-links a:nth-child(4) { transition: all 700ms ease; }

	.sweem-social-links a i {
		transition: all 900ms ease;
		line-height: 1;
	}

	.sweem-social-links a:hover i {
		transform: rotateY(360deg);
	}

	.sweem-content-box {
		padding: 30px 20px;
		border-radius: 0 0 12px 12px;
		transition: all 300ms ease;
	}

	.sweem-content-box .sweem-team-title {
		margin: 0;
		text-transform: capitalize;
		color: var(--theme-color4, #1a4137);
	}

	.sweem-content-box .sweem-team-title a {
		color: var(--theme-color4, #1a4137);
	}

	.sweem-content-box .sweem-team-title a:hover {
		color: var(--theme-color3, #c6d936);
	}

	.sweem-content-box .sweem-team-subtitle {
		text-transform: capitalize;
		font-size: 16px;
	}

	.sweem-inner-box:hover .sweem-social-links {
		opacity: 1;
		visibility: visible;
	}

	.sweem-inner-box:hover .sweem-social-links a {
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
	}

	.sweem-inner-box:hover .sweem-content-box {
		background-color: var(--theme-color-white, #fff);
	}

	.sweem-inner-box:hover .sweem-image-box .sweem-image img {
		transform: scale(1.1);
	}
}

/* Skin 4 */
.wp-block-create-block-sweem-block.sweem-team-block.sweem-current-theme4 {
	position: relative;
	margin-bottom: 40px !important;

	.sweem-inner-box {
		position: relative;
	}

	.sweem-inner-box:hover .sweem-social-links a {
		transform: scale(1);
	}

	.sweem-inner-box:hover .sweem-image-box::before {
		border: 2px solid var(--theme-color1);
	}

	.sweem-inner-box:hover .sweem-image-box .sweem-image::before {
		transform: scale(1);
	}

	.sweem-inner-box:hover .sweem-image-box .sweem-image::after {
		transform: scale(0);
	}

	.sweem-inner-box:hover .sweem-image-box .sweem-image img {
		transform: scale(1.1);
	}

	.sweem-image-box {
		position: relative;
		padding: 20px;
		overflow: hidden;
		width: 100%;
	}

	.sweem-image-box::before {
		position: absolute;
		content: "";
		border: 2px solid #ebeef5;
		border-radius: 5px;
		top: 0;
		left: 0;
		width: 87%;
		height: 100%;
		transition: all 300ms ease;
	}

	.sweem-image {
		position: relative;
		margin-bottom: 0;
		z-index: 1;
	}

	.sweem-image::before {
		content: "";
		position: absolute;
		left: -70px;
		top: -110px;
		height: 200px;
		width: 200px;
		background-color: var(--theme-color1);
		border-radius: 50%;
		transform: scale(0);
		transition: all 300ms ease;
	}

	.sweem-image::after {
		content: "";
		height: 200px;
		width: 200px;
		left: -80px;
		top: -110px;
		background: var(--theme-color3);
		border-radius: 500%;
		position: absolute;
		transform: scale(1);
		transition: all 300ms ease;
		z-index: -1;
	}

	.sweem-image img {
		position: relative;
		width: 100%;
		border-radius: 5px;
		z-index: 2;
		transition: all 400ms ease;
	}

	.sweem-info-box {
		position: relative;
		padding: 18px 20px 0;
	}

	.sweem-info-box .sweem-team-subtitle {
		position: relative;
		display: block;
		font-size: 14px;
		font-weight: 500;
		color: #6a6f78;
		z-index: 2;
		line-height: 1em;
		letter-spacing: 0.1em;
		font-family: var(--heading-font-family);
		text-transform: uppercase;
		margin-bottom: 5px;
		transition: all 400ms ease;
	}

	.sweem-info-box .sweem-team-title {
		position: relative;
		z-index: 2;
		margin: 0;
	}

	.sweem-info-box .sweem-team-title:hover {
		color: var(--theme-color3);
	}

	.sweem-social-links {
		position: absolute;
		right: 30px;
		bottom: 30px;
		z-index: 3;
		display: flex;
		flex-direction: column;
	}

	.sweem-social-links a {
		position: relative;
		height: 42px;
		width: 42px;
		font-size: 14px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		background-color: var(--theme-color1);
		border-radius: 50%;
		transform: scale(0);
		transition: all 300ms ease;
		text-decoration: none;
		margin-bottom: 6px;
	}

	.sweem-social-links a i {
		line-height: 1;
	}

	.sweem-social-links a:hover {
		color: var(--theme-color2);
		background-color: #fff;
	}
}

